{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path("blog") }}">My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_create') }}" aria-disabled="true">Créer un article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_mes_articles') }}" aria-disabled="true">Mes articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_logout') }}" tabindex="-1">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_register') }}" tabindex="-1">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_login') }}" tabindex="-1">Login</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {%  if app.user %}
                            <a class="nav-link btn btn-secondary" >{{ app.user.firstName }}</a>
                        {% else %}
                            <a class="nav-link btn btn-secondary" href="{{ path('app_login') }}" >non connecté</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
